body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F5FC;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

#logo{
    margin: 20px;
}

#input_text{
    margin: 20px;
    width: 85%;
    height: 300px;
    font-family: 'Monospace' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #0A3871;
    padding: 20px;
    text-align: center;
}

.content_button{
    padding: 20px;
    text-align: center;
}

aside{
    background-color: #0A3871;
    margin: 40px 20px 0px;
}


